.app {
	@include media-breakpoint-up(lg) {
		&.app-boxed-layout {
			background: var(--#{$prefix}body-bg);
			min-height: 100%;
			
			&,
			& .app-header {
				max-width: rem(1280px);
				margin-inline-start: auto;
				margin-inline-end: auto;
			}
			& .app-top-nav {
				max-width: rem(1280px);
				margin-inline-start: auto;
				margin-inline-end: auto;
				overflow: hidden;
			
				& .menu .menu-item .menu-submenu {
					position: fixed;
					inset-inline-start: auto;
					inset-inline-end: auto;
					top: auto;
				}
			}
			& .app-sidebar {
				background: var(--#{$prefix}body-bg);
				inset-inline-start: auto;
			}
			& .app-content {
				background: var(--#{$prefix}body-bg);
			}
		}
	}
}
.app-with-bg {
	@include media-breakpoint-up(lg) {
		background-image: url(../images/bg.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
}