<div data-bs-theme="dark">
  <div class="app-top-nav">
    <div class="menu">
      @for (menu of menus; track menu) {
        @if (!menu.is_divider && !menu.is_header) {
          <div class="menu-item" [ngClass]="{ 'active': (menu.path && isActive(menu.path)) || (menu.children && isChildActive(menu.children)), 'has-sub': menu.children }">
            <a [routerLink]="!menu.children ? menu.path : null" class="menu-link">
              <span class="menu-icon"><i [ngClass]="menu.icon"></i></span>
              <span class="menu-text">{{ menu.text }}</span>
              @if (menu.children) {
                <span class="menu-caret"><b class="caret"></b></span>
              }
            </a>
            @if (menu.children) {
              <div class="menu-submenu">
                @for (childmenu of menu.children; track childmenu) {
                  <div class="menu-item" [ngClass]="{ 'active': isActive(childmenu.path) }">
                    <a [routerLink]="childmenu.path" class="menu-link">
                      <span class="menu-text">{{ childmenu.text }}</span>
                    </a>
                  </div>
                }
              </div>
            }
          </div>
        }
      }
      <div class="menu-item menu-control menu-control-start">
        <a href="javascript:;" class="menu-link" (click)="handleTopNavControlAction($event, 'prev')"><i class="fa fa-chevron-left"></i></a>
      </div>
      <div class="menu-item menu-control menu-control-end">
        <a href="javascript:;" class="menu-link" (click)="handleTopNavControlAction($event, 'next')"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>