.app-content {
	padding: $app-content-padding-y $app-content-padding-x;
	position: relative;
	min-height: 100%;
	margin-inline-start: $app-sidebar-width;
	
	@include media-breakpoint-down(lg) {
		padding: $app-content-sm-padding-y $app-content-sm-padding-x;
		margin-inline-start: 0;
	}
	& > .container,
	& > .container-fluid {
		padding-inline-start: 0;
		padding-inline-end: 0;
	}
	& .app-content-container {
		position: relative;
		z-index: 10;
	}
	& .app-content-cover {
		position: absolute;
		top: 0;
		inset-inline-start: 0;
		inset-inline-end: 0;
		bottom: 0;
	}
}
.app-content-full-width {
	& .app-content {
		margin: 0;
	}
}
.app-content-full-height {
	@include media-breakpoint-up(lg) {
		height: 100%;
		
		& .app-content {
			height: 100%;
		}
	}
}