<!-- BEGIN pos -->
<div class="pos pos-vertical pos-with-header" id="pos">
  <!-- BEGIN pos-container -->
  <div class="pos-container">
    <!-- BEGIN pos-header -->
    <div class="pos-header">
      <div class="logo">
        <a routerLink="/pos/counter-checkout">
          <div class="logo-img"><i class="fa fa-bowl-rice" style="font-size: 1.5rem;"></i></div>
          <div class="logo-text">Pine & Dine</div>
        </a>
      </div>
      <div class="time" id="time">{{ getTime() }}</div>
      <div class="nav">
        <div class="nav-item">
          <a routerLink="/pos/kitchen-order" class="nav-link">
            <i class="far fa-clock nav-icon"></i>
          </a>
        </div>
        <div class="nav-item">
          <a routerLink="/pos/table-booking" class="nav-link">
            <i class="far fa-calendar-check nav-icon"></i>
          </a>
        </div>
        <div class="nav-item">
          <a routerLink="/pos/menu-stock" class="nav-link">
            <i class="fa fa-chart-pie nav-icon"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- END pos-header -->

    <!-- BEGIN pos-content -->
    <div class="pos-content">
      <div class="pos-content-container p-0">
        @if (order) {
          @for (order of order; track order) {
            <div class="pos-task">
              <div class="pos-task-info">
                <div class="h3 mb-1">Table {{ order.tableNo }}</div>
                <div class="mb-3">Order No: #{{ order.orderNo }}</div>
                <div class="mb-2">
                  <span class="badge fs-14px" [ngClass]="{ 'bg-theme text-theme-color': (getTotalCompletedItems(order.items) != order.items.length), 'bg-gray-500 text-white': (getTotalCompletedItems(order.items) == order.items.length)}">{{ (getTotalCompletedItems(order.items) == order.items.length) ? 'Completed' : order.orderType }}</span>
                </div>
                @if (order.orderTime) {
                  <div><span [ngClass]="{ 'text-danger fw-bold': order.urgent }">{{ order.orderTime }}</span> time</div>
                }
                @if (order.totalOrderTime) {
                  <div>
                    All dish served<br />{{ order.totalOrderTime }} total time
                  </div>
                }
              </div>
              <div class="pos-task-body">
                <div class="fs-16px mb-3">
                  Completed: ({{ getTotalCompletedItems(order.items) }}/{{ order.items.length }})
                </div>
                <div class="row gx-4">
                  @for (item of order.items; track item) {
                    <div class="col-lg-3 pb-4">
                      <div class="pos-task-product" [ngClass]="{ 'completed': item.status == 'Completed' || item.status == 'Cancelled' }">
                        <div class="pos-task-product-img">
                          <div class="cover" [style]="{ backgroundImage: 'url('+ item.image +')' }"></div>
                          @if (item.status == 'Completed') {
                            <div class="caption">
                              <div>Completed</div>
                            </div>
                          }
                          @if (item.status == 'Cancelled') {
                            <div class="caption">
                              <div>Cancelled</div>
                            </div>
                          }
                        </div>
                        <div class="pos-task-product-info">
                          <div class="flex-1">
                            <div class="d-flex mb-2">
                              <div class="fs-5 mb-0 fw-semibold flex-1 fw-semibold">{{ item.title }}</div>
                              <div class="fs-5 mb-0 fw-semibold">x{{ item.quantity }}</div>
                            </div>
                            <div class="text-body text-opacity-75">
                              @for (note of item.note; track note) {
                                <div>- {{ note }}</div>
                              }
                            </div>
                          </div>
                        </div>
                        <div class="pos-task-product-action">
                          <a href="#" class="btn btn-theme fw-semibold"
                            (click)="setItemStatus($event, item, 'Completed')"
                            [ngClass]="{ 'disabled': item.status == 'Completed' || item.status == 'Cancelled' }">
                            Complete
                          </a>
                          <a href="#" class="btn btn-outline-default fw-semibold"
                            (click)="setItemStatus($event, item, 'Cancelled')"
                            [ngClass]="{ 'disabled': item.status == 'Completed' || item.status == 'Cancelled' }">
                            Cancel
                          </a>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        }
        @if (!order) {
          <div class="px-3 py-5 text-center">
            No order found
          </div>
        }
      </div>
    </div>
    <!-- END pos-content -->
  </div>
  <!-- END pos-container -->
</div>
<!-- END pos -->